html,
body {
  height: 100%;
  margin: 0;
  font-size: calc(15px + 0.390625vw);
}

.eternal{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 992px) {
  .eternal {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbarsmall {
    margin-top: 50px;
  }
}

.linkgray{
  width: 55px;
  height: 55px;
  background: transparent;
  border:0;
  color:#919191;
}

.darkgray {
  color: #444444;
}

.lightgray {
  color:#919191;
}

/* Noto Serif */
.font-desire {
  font-family: "desire";
  text-decoration: "none";
}

.font-dancing {
  font-family: "Dancing";
  text-decoration: "none";
}

.font-aboreto{
  font-family: 'Aboreto', cursive;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.size-header {
  font-size: 2rem;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

